@use "colors.scss";
@use "typo.scss";
@use "buttons.scss";

.logo {
   background-image: url("images/bg-header-mobile.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right top;

}

header img {
    padding: 100px 0 30px 0;
}

section img {
    width: 100%;
    margin: 30px 0;
}

.icon {
    width: 50px;
}

.logos img {
 width: 35%;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #f5f6f8;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

footer a {
    margin-top: 10px;
    color: colors.$color-neutral-dark;
    padding-top: 20px;
}

footer img {
    width: 15%;
    margin: auto;
}

.social img {
    width: 30px;
    padding: 20px;
}

